body{
    font-family: sans-serif;
    margin-top: 50px;
    text-align: center;

}

button {
    padding: 10px 20px;
    background-color: #008000;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}