body{
    font-family: sans-serif;

    margin: 20px;
}

li{
    list-style-type: disc;
}

input{
    padding: 0px;

    margin-top: 10px;
}

button{
    padding: 0 px 12px;
    background-color: cornflowerblue;

    color: white;
    border: none;

    border-radius: 5px;
}